/** GLOBAL **/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    margin: 24px;
}


/***********************
*      Header          *
***********************/

header {
    padding: 24px;
}

header h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.nav-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header button {
  width: 140px;
  height: 45px;
  
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;  
}

header button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}

/***********************
*     About           *
***********************/



/***********************
*     Projects         *
***********************/
#projects {
    display: none;
}





/***********************
*     Contact          *
***********************/
#contact {
    display: none;
}



/***********************
*     Breakpoints      *
***********************/


@media (min-width: 768px) {

header {
    display: flex;
    justify-content: space-between;
}    
header li {
    display: inline-block;
    margin-left: 8px;
}

}

@media (min-width: 1024px) {

    header li {
        margin-left: 20px;
    }

    
}