/***********************
*      General         *
***********************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: black;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
}

main {
  background-color: #fff;

  border-radius: 4px;
  margin: auto 32px;
  position: relative;
}

section {
  padding: 40px 20px 20px 20px;
  min-height: 65vh;
}

/***********************
*      Header          *
***********************/

header {
  padding: 32px;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

header h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 80px;
  color: #fff;
}

#mobile svg {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 16px;
  background: none;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 1000;
}

#mobile svg:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 214, 0.4);
}

.nav-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  display: none; /* for now because burger*/
  /* for now because burger*/
}

header button {
  width: 90%;
  height: 45px;
  font-size: 11px;

  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  margin-bottom: 16px;
}

header button:hover {
  background-color: #07a0b3;
  box-shadow: 0px 15px 20px rgba(46, 229, 214, 0.4);
  color: #fff;
  transform: translateY(-2px);
}

/***********************
*     About           *
***********************/

.content-wrapper {
  max-width: 700px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  
  padding: 20px;
}

.me-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  float: right;
  shape-outside: circle();
}

.first-p {
  padding-top: 24px;
  padding-bottom: 8px;
}

section h2 {
  position: absolute;
  top: -25px;
  left: 0px;
  font-weight: bold;
  font-size: 3.5em;
  line-height: 50px;
}

section p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 24px;
}

.span {
  padding-bottom: 24px;
}

.skill {
  display: inline-block;
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 8px;
}

/***********************
*     Projects         *
***********************/
#projects {
  display: none;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

/***********************
*     Contact          *
***********************/
#contact {
  display: none;
}

#contact a {
    display: inline-block;
    padding: 18px 18px 18px 0;
}

.icon {
    height: 30px;
    
}

/***********************
*     SVG              *
***********************/

#orange {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#teal {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
}

/***********************
*     Breakpoints      *
***********************/

@media (min-width: 768px) {
  /*html {
        animation: changeColor 15s ease-in-out infinite;
    }*/

  header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 70px 0;
  }
  header button {
    display: inline-block;
    margin-left: 36px;
    width: 140px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
  }
  header button:hover {
    border: none;
  }
  .nav-wrapper {
    flex-direction: row;
    display: flex;
  }
  main {
    margin: 0 auto;
    max-width: 65%;
  }
  section {
    min-height: 50vh;
  }
  #mobile svg {
    display: none;
  }
  section h2 {
    left: -25px;
    font-size: 3.8em;
  }
  #teal {
    position: fixed;
  }
}

@media (min-width: 1024px) {
  header li {
    margin-left: 20px;
  }

  header button {
    margin-left: 48px;
  }
  section h2 {
      font-size: 4.2em;
  }
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
